* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body { 
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
  color: black;
  font-size: 17px;
}

.searchCountiesInput {
  border: 1px solid #BEBEBE;
  padding: 5px;
  font-size: 15px;
}

.sidePanel {
  height: 100%;
  width: 30%;
  float: right;
  overflow: scroll;
}

.sidePanelContent {
  padding: 30px;
  min-height: 100%;
  border-left: 5px solid black;
}

.homeView {
  text-align: center;
}

.countiesDynamicTable {
  margin: auto;
  padding-top: 10px;
}

.tableCountyId {
  padding-right: 20px;
}

.tableCountyName {
  text-align: left;
}

.countyNameListItem {

}

.mapCanvas {
  background-color: #f3f8ff;
  color: black;
  background: #24C6DC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1F75FE, #A6FFCB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1F75FE, #A6FFCB); /* Standard syntax */
}
.hoverPlaceContainer {
  position: absolute;
  text-align: left;
  display: none;
}

.hoverPlaceInfo {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 24px;
}

.hoverPlace { font-size: 34px; }

.hoverPlaceOther { font-size: 20px; }

.interest {
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  background-color: white;
  display: none;
  left: 15%;
  top: 7.5%;
  z-index: 1;
}

.header {

}

.headerContainer {
  text-align: center;
}

.headerPlace {
  display:inline-block;
  font-size: 36px;
  text-decoration: none
}

i.close {
  font-size: 40px;
  opacity: 1;
  display: none;
  cursor: pointer;
}

i.close:hover {
  color: red;
}

i.categoryButton {
  width: 30%;
  opacity: 1;
  font-size: 35px;
  cursor: pointer;
}

i.categoryButton:hover {
  color: red;
}

.content {
  overflow: scroll;
  padding: 10px;
}

.information {
  width: 100%;
  float: left;
}

.info {
  color: white;
  position: absolute;
  display: block;
  z-index: 1;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-family: fantasy;
}

button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s; /* Non Safari */
  font-family: sans-serif;
  font-size:24px;
  background-color: transparent;
  z-index: 2;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  opacity: 0.70;
}

.selected { 
  border-bottom: 3px solid black;
}

.selected:hover {
  border-bottom: 3px solid red;
}

i.read {
  display: inline-block;
  color: white;
  font-size: 40px;
  background-color: black;
  opacity: 1;
}

i.read:hover {
  background-color: red;
  cursor: pointer;
}

i.hidden {
  display: none;
}

.sightsListItem {
  list-style-type: none;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 100px;
  width: 95%;
  display: inline-block;
  text-align: left;
  background-color: white;
  z-index: 5;
  padding-left: 5px;
}

.sightsListItem:hover {
  text-decoration: underline;
  box-shadow:0 6px 20px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.sightsListItemImage {
  height: 100%;
}

.sightsListItemTitle {
  color: #000000de;
  font-size: 18px;
  float: left;
  vertical-align: top;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sightsListItemStars {
  color: #ff9800;
  font-size: 15px;
  float: left;
  vertical-align: top;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sightsListItemInfo {
  width: 65%;
  height: 100%;
  display: inline-block;
}

.sightsListItemImageDiv {
  display: inline-block;
  float: right;
  height: 100%;
  width: 35%;
  overflow: hidden;
  text-align: right;
}

.sightsListItemTime {
  color: #ff9800;
  font-size: 15px;
  float: left;
  vertical-align: top;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sightsListItemDescription {
  color: #000000b8;
  font-size: 15px;
  float: left;
  vertical-align: top;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events-dynamic-list {
  text-align: center;
  padding: 0px;
  list-style-type: none;
}

.sights-dynamic-list {
  text-align: center;
  padding: 0px;
}

.information-dynamic-list {
  list-style: none;
}

.informationListItem {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #92ff7e;
  border: 2px solid black;
}

.readButtonContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
