body { 
  height: 100%;
  margin: 0px;
  text-align: center;
  font-family: Fantasy;
  background-color: #f3f8ff;
  color: white;
  background: #24C6DC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1F75FE, #A6FFCB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1F75FE, #A6FFCB); /* Standard syntax */
}

canvas {
  vertical-align: bottom;
}

.interest {
  overflow: scroll;
  color: #00363e;
  text-align: left;
  font-size: 24px;
  position: absolute;
  width: 90%;
  height: 100%;
  left: 5%;
  display: none;
  z-index: 1;
}

.info {
  color: #00363e;
  position: absolute;
  display: block;
  z-index: 1;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s; /* Non Safari */
  font-family: Fantasy;
  font-size:20px;
  background-color: #24C6DC;
  color: white;
  z-index: 2;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.selected { background-color: #00363e; }

button:hover { text-decoration: underline; }

.close:hover {
  color: white;
  background-color: red;
}

