body { 
  height: 100%;
  margin: 0px;
  text-align: center;
  font-family: Fantasy;
  background-color: #f3f8ff;
  color: white;
  background: #24C6DC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1F75FE, #A6FFCB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1F75FE, #A6FFCB); /* Standard syntax */
}

canvas {
  vertical-align: bottom;
}

.interest {
  overflow: scroll;
  color: #00363e;
  text-align: left;
  font-size: 24px;
  position: absolute;
  width: 90%;
  height: 100%;
  left: 5%;
  display: none;
  z-index: 1;
}

.buttonContainer {
  display: inline-block;
}

.header {
    text-align: center;
}

.interest::-webkit-scrollbar { 
    display: none; 
}

.info {
  color: #00363e;
  position: absolute;
  display: block;
  z-index: 1;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s; /* Non Safari */
  font-family: Fantasy;
  font-size:30px;
  background-color: transparent;
  z-index: 2;
  border: none;
  margin: 15px;
  margin-top: 2px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  opacity: 0.70;
}

.selected { 
  border-top: 6px solid white; 
  opacity: 0.95;
}

button:hover { text-decoration: underline; }

.close {
  display: inline-block;
  color: white;
  margin-top: 10px;
  background-color: #ff3f3f;
  opacity: 1;
}

.sightsListItem {
  list-style-type: none;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 15%;
  width: 30%;
  display: inline-block;
  text-align: left;
  background-color: rgba(245, 245, 245, .1);
  margin: 7px;
}

.sightsListItemLeft {
  display: inline-block;
}

.sightsListItemMiddle {
  
}

.sightsListItemRight {
  display: inline-block;
}

.sightsListItemImage {
  height: 100%;
}

.sightsListItemTitle {
  color: #222;
  font-size: 24px;
  text-decoration: none;
  float: left;
  vertical-align: top;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sightsListItemInfo {
  width: 65%;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
}

.sightsListItemImageDiv {
  display: inline-block;
  float: right;
  height: 100%;
  width: 30%;
  overflow: hidden;
  text-align: right;
}

