body { 
  height: 100%;
  margin: 0px;
  text-align: center;
  font-family: "Bree Serif",serif;
  background-color: #f3f8ff;
  color: white;
  background: #24C6DC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1F75FE, #A6FFCB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1F75FE, #A6FFCB); /* Standard syntax */
}

canvas {
  vertical-align: bottom;
}

.info {
  width:100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.interest {
  border-radius: 8px;
  color: black;
  overflow: hidden;
  text-align: left;
  font-size: 28px;
  position: absolute;
  width: 60%;
  height: 70%;
  background-color: whitesmoke;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  left: 20%;
  top: 15%;
  display: none;
  z-index: 1;
}

.headerPlace {
  display:inline-block;
  font-size: 65px;
  text-decoration: none
}

.content {
    overflow: scroll;
    height: calc(80% - 40px);
    padding: 20px;
}

.information {
  width: 100%;
  float: left;
}

.informationText {
  line-height: 40px;
  height: 100%;
}

.buttonContainer {
  display: inline-block;
}

.header {
    text-align: left;
    border-bottom: 5px solid #9E9E9E;
    padding: 20px;
    background-color: white;
}



.info {
  color: white;
  position: absolute;
  display: block;
  z-index: 1;
}

.reference {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s; /* Non Safari */
  font-family: "Bree Serif",serif;
  font-size:30px;
  background-color: transparent;
  z-index: 2;
  border: none;
  margin: 15px;
  margin-top: 2px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  opacity: 0.70;
}

.selected { 
  /*border-bottom: 6px solid black; */
  opacity: 0.95;
  text-decoration: underline;
}

button:hover { opacity: 0.95 }

.closeButton {
  opacity: 1;
  padding-top: 0px;
  float: right
}

.close {
  display: inline-block;
  color: black;
  background-color: #f44336;
  opacity: 1;
  padding: 8px;
  border-radius: 50px;
  float: right;
  box-shadow: inset 0px 0px 0px 2px #000;
}

.read {
  display: inline-block;
  color: black;
  background-color: #24dc2a;
  opacity: 1;
  border-radius: 50px;
    padding: 8px;
      box-shadow: inset 0px 0px 0px 2px #000;
}

.read:hover {
  opacity: 0.75;
  box-shadow: inset 0px 0px 0px 4px #000;
}

.pause {
  display: inline-block;
  color: black;
  background-color: #ff9800;
  opacity: 1;
  border-radius: 50px;
  padding: 8px;
  box-shadow: inset 0px 0px 0px 2px #000;
}

.pause:hover {
  opacity: 0.75;
  box-shadow: inset 0px 0px 0px 4px #000;
}

.stop {
  display: inline-block;
  color: black;
  background-color: #f44336;
  opacity: 1;
  border-radius: 50px;
  padding: 8px;
    box-shadow: inset 0px 0px 0px 2px #000;
}

.stop:hover {
  opacity: 0.75;
  box-shadow: inset 0px 0px 0px 4px #000;
}

.close:hover {
  opacity: 0.75;
  box-shadow: inset 0px 0px 0px 4px #000;
}

.sightsListItem {
  list-style-type: none;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 25%;
  width: 47%;
  display: inline-block;
  text-align: left;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 2%;
}

.sightsListItem:hover {
  text-decoration: underline;
  box-shadow:0 6px 20px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.sightsListItemImage {
  height: 100%;
}

.sightsListItemTitle {
  color: #222;
  font-size: 24px;
  float: left;
  vertical-align: top;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sightsListItemInfo {
  width: 65%;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
}

.sightsListItemImageDiv {
  display: inline-block;
  float: right;
  height: 100%;
  width: 30%;
  overflow: hidden;
  text-align: right;
}

