* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body { 
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
  color: black;
  font-size: 17px;
}

.searchCountiesInput {
  border: 1px solid #BEBEBE;
  padding: 5px;
  font-size: 15px;
}

.sidePanel {
  height: 100%;
  width: 30%;
  position: absolute;
  right: 0px;
  overflow: scroll;
}

.sidePanelContent {
  padding: 30px;
  min-height: 100%;
}

.homeView {
  text-align: center;
}

.countiesDynamicTable {
  margin: auto;
  padding-top: 10px;
}

.tableCountyId {
  padding-right: 20px;
}

.tableCountyName {
  text-align: left;
}

.mapCanvas {
  border-right: 5px solid black;
  background-color: #f3f8ff;
  background: #24C6DC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1F75FE, #A6FFCB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1F75FE, #A6FFCB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1F75FE, #A6FFCB); /* Standard syntax */
}

.hoverPlaceContainer {
  position: absolute;
  text-align: left;
  display: none;
}

.hoverPlaceInfo {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 24px;
}

.hoverPlace { font-size: 34px; }

.hoverPlaceOther { font-size: 20px; }

.interest {
  display: none;
}

.headerContainer {
  text-align: center;
}

i.close {
  font-size: 30px;
  opacity: 1;
  display: none;
  cursor: pointer;
}

i.close:hover {
  color: red;
}

i.categoryButton {
  width: 30%;
  opacity: 1;
  font-size: 25px;
  cursor: pointer;
}

i.categoryButton:hover {
  color: red;
}

.content {
  overflow: scroll;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
}

.selected { 
  border-bottom: 3px solid black;
}

.selected:hover {
  border-bottom: 3px solid red;
}

i.read {
  display: inline-block;
  font-size: 25px;
  opacity: 1;
}

i.read:hover {
  color: red;
  cursor: pointer;
}

i.hidden {
  display: none;
}

.sightsListItem {
  list-style-type: none;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 100px;
  width: 95%;
  display: inline-block;
  text-align: left;
  background-color: white;
  z-index: 5;
  padding-left: 5px;
}

.sightsListItem:hover {
  text-decoration: underline;
  box-shadow:0 6px 20px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.sightsListItemImage {
  height: 100%;
}

.sightsListItemTitle {
  color: black;
  float: left;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sightsListItemStars {
  color: #ff9800;
  float: left;
  padding-top: 10px;
}

.sightsListItemInfo {
  width: 65%;
  height: 100%;
  display: inline-block;
}

.sightsListItemImageDiv {
  display: inline-block;
  height: 100%;
  width: 35%;
  overflow: hidden;
}

.sightsListItemTime {
  color: black;
  float: left;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sightsListItemDescription {
  color: black;
  float: left;
  padding-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dynamic-list {
  list-style: none;
}

.informationListItem {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #92ff7e;
  border: 2px solid black;
}

.readButtonContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
